body {
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    min-width: 1200px;
    background-color: #ffffff;
    font-family: "Cuprum", sans-serif;  
}

a {
    text-decoration: none;
    color: white;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.main-header {
     background-color: #f1f5f7;
}

.main-header > .wrapper {
    background-color: #293449;
}

/*паддинг добавляют 20пх */
.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    
}

.header-top {
    font-size: 0;
    background-color: #293449;
    margin-bottom: 41px;
}

.header-top .logo {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 60px;
    background-color: #ee3643;
    color: white;
    position: relative;
}

.header-top .logo::before {
    content: '';
    width: 237px;
    height: 5px;
    position: absolute;
    top: 44px;
    left: -1px;
    background-color: #b52933;
}

.header-top .search {
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    line-height: 17px;
    padding: 10px 60px;
    color: white;
    
}

.header-top .user-block {
    float: right;
    font-size: 0;
}

.user-block a {
    display: inline-block;
    vertical-align: top;
}

.user-block .bookmark {
    font-size: 17px;
    line-height: 17px;
    padding: 13px 23px;
}

.user-block .cart {
    font-size: 17px;
    line-height: 17px;
    padding: 13px 23px;
}

.user-block .order {
    font-size: 17px;
    line-height: 17px;
    padding: 13px 23px;
    background-color: #63a63e;
}

.header-middle {
    background-color: #f1f5f7;
    font-size: 0;
    margin-bottom: 44px
}

.header-middle .info {
    width: 300px;
    display: inline-block;
    margin-left: 53px;
    vertical-align: top;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee434f;
}

.header-middle .contacts {
    width: 272px;
    display: inline-block;
    vertical-align: top;
    margin-right: 52px;
    font-size: 0;
   
}

.header-middle .tel {
    font-size: 21px;
    line-height: 18px;
    text-align: center;
    color: #e9292a;
    margin-bottom: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 3px solid #ffffff;
}

.header-middle .adress {
    font-size: 14px;
    line-height: 14px;
    color: #32425c;
    text-align: center;
}

.header-middle .user-block {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    
    
}

.user-block .enter {
    color: black;
    vertical-align: top;
    font-size: 21px;
    line-height: 18px;
    padding: 12px 15px;
    padding-left: 36px;
    margin-right: 10px;
    background-color: #ffffff;
}

.user-block .reg {
    color: black;
    vertical-align: top;
    padding: 12px 26px;
    font-size: 21px;
    line-height: 18px;
    background-color: #ffffff;
}

.main-navigation {
    background-color: #f1f5f7;
}

.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    border-bottom: 5px solid #293449;
    background-color: #32425c;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    line-height: 17px;
}

.main-navigation a {
    display: block;
    padding: 20px 32px 20px 32px;
}

.main-navigation a:hover {
    background-color: #293449;
}

.main-navigation a:active {
    color: #777d88;
}
