body {
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    min-width: 1200px;
    background-color: #ffffff;
    font-family: "Cuprum", sans-serif;  
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.main-header {
     background-color: #f1f5f7;
    margin-bottom: 60px;
}

.main-header > .wrapper {
    background-color: #293449;
}

/*паддинг добавляют 20пх */
.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    
}

.header-top {
    font-size: 0;
    background-color: #293449;
    margin-bottom: 48px;
}

.header-top .logo {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 9px 53px;
    background-color: #ee3643;
    color: white;
    position: relative;
}

.header-top .logo::before {
    content: "";
    width: 221px;
    height: 5px;
    position: absolute;
    top: 42px;
    left: 0px;
    background-color: #b52933;
}

.header-top .search {
    display: inline-block;
    vertical-align: top;
}

.search input {
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    line-height: 17px;
    width: 220px;
    height: 41px;
    padding-left: 48px;
    color: white;
    border: none;
    outline: none;
    position: relative;
    background: #293449 url(../img/.icon-search-opacity.png) 17px 11px no-repeat;
}

.search input:hover {
    background: #212a3a url(../img/.icon-search.png) 17px 11px no-repeat;
}

.search input:focus {
    background: white url(../img/.icon-search-red.png) 17px 11px no-repeat;
    color: black;
}


.header-top .user-block {
    float: right;
    font-size: 0;
}

.user-block a {
    display: inline-block;
    vertical-align: top;
}

.user-block .bookmark {
    font-size: 17px;
    line-height: 17px;
    padding: 13px 32px;
    position: relative;
    padding-left: 38px;
    padding-bottom: 13px;
}

.user-block .bookmark:hover {
    background-color: #212a3a;
}

.user-block .bookmark:active {
    background-color: #161d29;
    opacity: 0.5;
}

.user-block .bookmark::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 10px;
    width: 14px;
    height: 16px;
    background: url(../img/sprite.png) -47px -10px no-repeat;
    opacity: 0.3;
}

.user-block .bookmark:hover::before {
    opacity: 1;
}

.user-block .bookmark:active::before {
    opacity: 0.3;
}

.user-block .cart {
    font-size: 17px;
    line-height: 17px;
    padding: 13px 31px;
    padding-left: 44px;
    padding-bottom: 13px;
    position: relative;
    
}

.user-block .cart:hover {
    background-color: #212a3a;
}

.user-block .cart:active {
    background-color: #161d29;
    opacity: 0.5;
}

.user-block .cart::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    width: 17px;
    height: 16px;
    background: url(../img/sprite.png) -11px -10px no-repeat;
    opacity: 0.3;
}

.user-block .cart:hover::before {
    opacity: 1;
}
.user-block .cart:active::before {
    opacity: 0.3;
}


.user-block .order {
    font-size: 17px;
    line-height: 17px;
    padding: 13px 21px;
    background-color: #63a63e;
    padding-bottom: 13px;
}

.user-block .order:hover {
    background-color: #5fbb2d;
}
.user-block .order:active {
    background-color: #518534;
    color: rgba(245, 249, 242, 0.5);
}

.header-middle {
    background-color: #f1f5f7;
    font-size: 0;
    margin-bottom: 38px
}

.header-middle .info {
    width: 267px;
    display: inline-block;
    margin-left: 53px;
    vertical-align: top;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee434f;
}

.header-middle .contacts {
    width: 272px;
    display: inline-block;
    vertical-align: top;
    margin-right: 52px;
    font-size: 0;
   
}

.contacts .tel > span {
    padding-left: 20px;
}

.contacts .adress {
    padding-left: 11px;
}

.header-middle .tel {
    position: relative;
    font-size: 21px;
    line-height: 18px;
    text-align: center;
    color: #e9292a;
    margin-bottom: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 3px solid #ffffff;
}

.header-middle .tel::before {
    position: absolute;
    top: 10px;
    left: 12px;
    content:"";
    width: 19px;
    height: 19px;
    background: url(../img/sprite.png) -367px -10px no-repeat;
}

.header-middle .adress {
    font-size: 14px;
    line-height: 14px;
    color: #32425c;
    text-align: center;
}

.header-middle .user-block {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    float: right;
}

.user-block .login {
    position: relative;
    color: black;
    vertical-align: top;
    font-size: 21px;
    line-height: 18px;
    padding: 12px 23px;
    margin-right: 8px;
    background-color: #ffffff;
    padding-left: 49px;
    
}

.user-block .login::before {
    position: absolute;
    top: 13px;
    left: 14px;
    content:"";
    width: 20px;
    height: 17px;
    background: url(../img/sprite.png) -287px -10px no-repeat;
    
}
.user-block .login:hover {
    color:#ee3643;
}

.user-block .login:hover::before {
    background: url(../img/sprite.png) -327px -10px no-repeat;
}

.user-block .login:active {
    color:rgba(0, 0, 0, 0.3);
}

.user-block .login:active::before {
    background: url(../img/sprite.png) -287px -10px no-repeat;
}


.user-block .reg {
    color: black;
    vertical-align: top;
    padding: 12px 26px;
    font-size: 21px;
    line-height: 18px;
    background-color: #ffffff;
}

.user-block .reg:hover {
    color:#ee3643;
}

.user-block .reg:active {
    color:rgba(0, 0, 0, 0.3);
}

.main-navigation {
    background-color: #f1f5f7;
    padding-bottom: 1px;
    
}

.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-bottom: 59px;
    border-bottom: 5px solid #293449;
    background-color: #32425c;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    line-height: 17px;
}

.main-navigation li:first-child {
    margin-left: 20px;
}

.main-navigation a {
    display: block;
    padding:20px 31px 20px 31px;
}

.main-navigation a:hover {
    background-color: #293449;
}

.main-navigation a:active {
    color: #777d88;
}

.features {
    width: 940px;
    font-size: 0;
    margin-bottom: 53px;
}

.features .features-item {
    width: 300px ;
    height: 123px;
}

.features .materials {
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    float: left;
    vertical-align: top;
    position: relative;
    background: #f6b22d url(../img/material.png)  no-repeat 200px 30px;
}

.features .materials::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    background: url("../img/new.png") no-repeat;
    top: 0px;
    left: 240px;
}


.features .tools {
    float: left;
    display: inline-block;
    vertical-align: top;
    background: #4aafde url(../img/instrum.png)  no-repeat 200px 30px;
}


.features .slider {
    width: 620px;
    height: 266px;
    float: left;
    display: inline-block;
    vertical-align: top;
    position: relative;
    
}

.features .slider a {
    display: inline-block;
    vertical-align: top;
    padding: 10px 58px;
    margin-left: 25px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    background-color: #ee3643;
    border-radius: 3px;
    
}

.features .slide h2 {
    font-size: 36px;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 12px;
    margin-left: 25px;
}

.features .slide p {
    font-family: "PT Sans";
    margin: 0;
    margin-left: 25px;
    margin-bottom: 124px;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.features .slide:first-child {
    padding-top: 1px;
    width: 620px;
    height: 266px;
    background:url("../img/man-background.png") no-repeat 0 0, url("../img/man.jpg") no-repeat 0 0;
}

.features .slide:last-child {
    
    padding-top: 1px;
    width: 620px;
    height: 266px;
    background:url("../img/man2-background.png") no-repeat 0 0, url("../img/man2.jpg") no-repeat 0 0;
}

.slider input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.slider .slider-controls {
    position: absolute;
    left: 50%;
    top: 220px;
    height: 10px;
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],           
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background: #ee3643;
}

.slides .slide {
  display: none;                                       
}

#btn-1:checked ~ .slides .slide:first-child {
  display: block;
}

#btn-2:checked ~ .slides .slide:last-child {
  display: block;
}

.arrows label:first-child {
    position: absolute;
    top: 119px;
    left: 16px;
    width: 22px;
    height: 40px;
    background: url(../img/sprite.png) -245px -10px no-repeat;
    cursor: pointer;
}

.arrows label:last-child {
    position: absolute;
    top: 119px;
    right: 16px;
    width: 22px;
    height: 40px;
    background: url(../img/sprite.png) -406px -10px no-repeat;
    cursor: pointer;
}


.features .technics {
    margin-bottom: 20px;
    float: right;   
    display: inline-block;
    vertical-align: top;
    background: #cc79d1 url(../img/technics.png)  no-repeat 200px 30px;
}

.features .discount {
    margin-bottom: 20px;
    float: right;  
    display: inline-block;
    vertical-align: top;
    background: #85d179 url(../img/skidki.png)  no-repeat 200px 30px;
}

.features .delivery {
    float: right;  
    display: inline-block;
    vertical-align: top;
    background: #f6b22d url(../img/dostavka.png)  no-repeat 200px 30px;;
}

.features .title {
    font-size: 24px ;
    line-height: 30px ;
    font-weight: 700;
    color: white;
    margin-top: 26px;
    margin-left: 23px;
    margin-bottom: 7px;
}

.features  .btn {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    line-height: 38px;
    width: 135px;
    text-align: center;
    height: 38px;
    margin-left: 25px;
    display: inline-block;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.features  .btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.features  .btn:active {
    background-color: rgba(0, 0, 0, 0.5);
}


.popular-items-section {
    margin-bottom: 21px;
}

.popular-items-section .title {
    padding: 30px 0px;
    padding-left: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    background-color: #f7f3ec;
    color: #32425c;
}

.title .btn-show-all {
    display: inline-block;
    vertical-align: top;
    float: right;
    padding: 10px 58px;
    margin-right: 26px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    border-radius: 3px;
}

.popular-items-section .popular-items {
    width: 100%;
    font-size: 0;
}

.popular-items .item {
    width: 218px;
    min-height: 316px;
    margin-right: 20px;
    border:1px solid #e5e5e5;
    display: inline-block;
    vertical-align: top;
    font-family: "PT Sans";
    font-weight: 700;
    
    /* border-box */
}

.popular-items .item:last-child {
    margin-right: 0;
    position: relative;
}

.popular-items .item:last-child::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    background: url("../img/new.png") no-repeat;
    top: 0px;
    left: 158px;
}

.item:last-child .item-title  {
    margin-bottom: 54px;
}

.item .image {
    text-align: center;
    margin-top: 29px;
    height: 135px;
}

.item .item-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    width: 191px;
    text-align: center;
    margin-bottom: 18px;
    margin-left: 17px;
}

.item del {
    font-size: 17px;
    line-height: 18px;
    color: gray;
    margin-left: 77px;
    
}

.item .price-block {
    width: 140px;
    height: 38px;
    background: url("../img/triangle-background.png") no-repeat;
    font-size: 17px;
    line-height: 38px;
    color: white;
    text-align: center;
    margin-top: 13px;
    margin-left: 41px;
}

.popular-vendors-section {
	margin-bottom: 85px;
}

.popular-vendors-section .title {
    padding: 30px 0px;
    padding-left: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    background-color: #f7f3ec;
    color: #32425c;
}

.popular-vendors {
    font-size: 0;
    width: 940px;
}

.popular-vendors .vendor-logo {
    width: 218px;
    height: 145px;
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
    border:1px solid #e5e5e5;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.popular-vendors .vendor-logo:nth-child(4n) {
    margin-right: 0;
}

.popular-vendors .bosch {
    background: url(../img/bosch.png) center no-repeat;    
}

.popular-vendors .bosch:hover {
    box-shadow: 0px 4px 22px 7px lightgray; 
}

.popular-vendors .bosch:active {
    background: url(../img/bosch-tr.png) center no-repeat;
    box-shadow: 0px 4px 22px 3px lightgray;
}

.popular-vendors .makita {
    background: url(../img/makita.png) center no-repeat;    
}

.popular-vendors .makita:hover {
    box-shadow: 0px 4px 21px 7px lightgray; 
}

.popular-vendors .makita:active {
    background: url(../img/makita-tr.png) center no-repeat;
    box-shadow: 0px 4px 22px 3px lightgray;
}

.popular-vendors .dewalt {
    background: url(../img/DeWALT.png) center no-repeat;    
}

.popular-vendors .dewalt:hover {
    box-shadow: 0px 4px 21px 7px lightgray; 
}

.popular-vendors .dewalt:active {
    background: url(../img/dewalt-tr.png) center no-repeat;
    box-shadow: 0px 4px 22px 3px lightgray;
}

.popular-vendors .interskol {
    background: url(../img/interskol.png) center no-repeat;    
}

.popular-vendors .interskol:hover {
    box-shadow: 0px 4px 21px 7px lightgray; 
}

.popular-vendors .interskol:active {
    background: url(../img/interskol-tr.png) center no-repeat;
    box-shadow: 0px 4px 22px 3px lightgray;
}

.popular-vendors .hitachi {
    background: url(../img/hitachi.png) center no-repeat;    
}

.popular-vendors .hitachi:hover {
    box-shadow: 0px 4px 21px 7px lightgray; 
}

.popular-vendors .hitachi:active {
    background: url(../img/hitachi-tr.png) center no-repeat;
    box-shadow: 0px 4px 22px 3px lightgray;
}

.popular-vendors .lg {
    background: url(../img/lg.png) center no-repeat;    
}

.popular-vendors .lg:hover {
    box-shadow: 0px 4px 21px 7px lightgray; 
}

.popular-vendors .lg:active {
    background: url(../img/lg-tr.png) center no-repeat;
    box-shadow: 0px 4px 22px 3px lightgray;
}

.popular-vendors .aeg {
    background: url(../img/aeg.png) center no-repeat;    
}

.popular-vendors .aeg:hover {
    box-shadow: 0px 4px 21px 7px lightgray; 
}

.popular-vendors .aeg:active {
    background: url(../img/aeg-tr.png) center no-repeat;
    box-shadow: 0px 4px 22px 3px lightgray;
}

.popular-vendors .metabo {
    background: url(../img/metabo.png) center no-repeat;    
}

.popular-vendors .metabo:hover {
    box-shadow: 0px 4px 21px 7px lightgray; 
}

.popular-vendors .metabo:active {
    background: url(../img/metabo-tr.png) center no-repeat;
    box-shadow: 0px 4px 22px 3px lightgray;
}

.main-content .wrapper {
	background-color: #f2f6f8;
	margin-bottom: 81px;
}

.main-content .services {
	width: 940px;
    min-height: 546px;
    padding-top:1px;
	background-color: #f2f6f8;
}

.services input {
    position: absolute;
    opacity: 0;
}

.services > h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 64px;
    margin-bottom: 35px;
}

.services > p {
    width: 397px;
    
    margin-bottom: 72px;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
}

.services .service-menu {
    position: relative;
    float: left;
    margin-right: 79px;
}

.services .service-menu::before {
    content: "";
    width: 10px;
    height: 272px;
    position: absolute;
    top: -39px;
    left: 230px;
    background: url("../img/shadow-line.png") 0 0 no-repeat;
    
}

.service-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.service-menu label {
    display: inline-block;
    vertical-align: top;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    width: 217px;
    height: 42px;
    padding-left: 23px;
    padding-top: 17px;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    background-color: #32425c;
    color: white;
    cursor: pointer;
}

#service-btn-1:checked ~ .service-menu label[for="service-btn-1"],           
#service-btn-2:checked ~ .service-menu label[for="service-btn-2"],
#service-btn-3:checked ~ .service-menu label[for="service-btn-3"] {
    background: #ffffff;
    color: #32425c;
    border: 0;
}

.services .service-content {
    display: inline-block;
    vertical-align: top;
    width: 326px;
    float: left;
}

.service-content .slide {
    width: 620px;
    min-height: 284px;
}

.slide .title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.slide .text {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    
}

.slide .credit-request {
    display: inline-block;
	vertical-align: top;
	padding: 10px 40px;
	font-size: 14px;
	line-height: 18px;
    background-color: #ee3643;
	color: white;
	text-transform: uppercase;

}

.service-content .slide:nth-child(1) {
    background: url(../img/gruzovik.png) 152px 12px no-repeat;
}

.service-content .slide:nth-child(2) {
    background: url(../img/guarantee.png) 232px 12px no-repeat;
}

.service-content .slide:nth-child(3) {
    background: url(../img/credit.png) 155px 0px no-repeat;
}

.service-content .slide {
    display: none;
}

#service-btn-1:checked ~ .service-content .slide:nth-child(1) {
    display: block;
}

#service-btn-2:checked ~ .service-content .slide:nth-child(2) {
    display: block;
}

#service-btn-3:checked ~ .service-content .slide:nth-child(3) {
    display: block;
}


.info .about {
	width: 540px;
	float: left;
}

.info h1 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.info p {
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
}

.info ul {
	margin: 0;
	padding: 0;
	margin-left: 37px;
	list-style-type: none;
}

.info ul li {
	margin-bottom: 24px;
}

.info .btn-more {
	display: inline-block;
	vertical-align: top;
	padding: 10px 40px;
	font-size: 14px;
	line-height: 18px;
	background-color: #ee3643;
	color: white;
	text-transform: uppercase;
}

.info .contacts {
	width: 300px;
	float: right;
}

.contacts h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts .map {
	width: 300px;
	height: 158px;
	background: url(../img/static-map.jpg) 0 0 no-repeat;
	margin-bottom: 40px;
}

.contacts .write-us {
	display: inline-block;
	vertical-align: top;
	padding: 10px 58px;
	font-size: 14px;
	line-height: 18px;
	background-color: #ee3643;
	color: white;
	text-transform: uppercase;
}

.main-footer {
	background-color: #32425c;
}

.main-footer .wrapper {
	background-color: #293449;
	
}

.main-footer .footer-top {
	font-size: 0;
	margin-bottom: 30px;
}

.footer-top .logo {
	float: left;
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	padding: 16px 35px;
	line-height: 30px;
	font-weight: 700;
	background-color: #ee3643;
	color: white;
	border-bottom: 5px solid #b52933;
	text-transform: uppercase;
}

.footer-top .footer-menu {
	float: right;
	display: inline-block;
}

.footer-menu ul {
	list-style-type: none;
    font-size: 0;
    margin: 0;
    padding: 0;

}

.footer-menu li {
	display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
	margin-right: 60px;
	margin-top: 32px;
}

.footer-menu li:last-child {
	margin-right: 0;
}

.footer-menu a {
	display: block;
}

.footer-menu a:hover {
	text-decoration: underline;
}

.footer-menu a:active {
	opacity: 0.6;
	text-decoration: none;
}

.main-footer .footer-middle {
	font-size: 0;
	padding-bottom: 52px;
}

.footer-middle .contacts {
	display: inline-block;
	vertical-align: top;
	float: left;
	color: white;
	font-size: 18px;
	line-height: 24px;
}

.footer-middle .sections  {
	float: right;
	display: inline-block;
}

.sections ul {
	list-style-type: none;
	font-size: 0;
    margin: 0;
    padding: 0;

}

.sections li {
	display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
	margin-right: 60px;
}

.sections li:last-child {
	margin-right: 0;
}

.sections a {
	color: #ffd180;
}

.sections a:hover {
	text-decoration: underline;
}

.sections a:active {
	opacity: 0.6;
	text-decoration: none;
}

.main-footer .footer-bottom {
	font-size: 0;
	padding: 32px 0px;
}

.footer-bottom .copyright {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	color: white;
	margin-right: 160px;
}

.social {
	display: inline-block;
	margin-right: 119px;
}

.social ul {
	list-style-type: none;
	font-size: 0;
    margin: 0;
    padding: 0;
}

.social li {
	display: inline-block;
    vertical-align: top;
	margin-right: 5px;
}

.social .social-btn {
	display: block;
	width: 41px;
	height: 41px;
	background-color: #212a3a;
	border-radius: 50%;
    position: relative;
}

.social .social-btn:hover {
	background-color: #c73644;
}

.social .vk::before {
    content: "";
    width: 20px;
    height: 12px;
    position: absolute;
    top: 15px;
    left: 10px;
    background: url(../img/sprite.png) -695px -10px no-repeat;
}

.social .fb::before {
    content: "";
    width: 10px;
    height: 18px;
    position: absolute;
    top: 12px;
    left: 15px;
    background: url(../img/sprite.png) -143px -10px no-repeat;
}

.social .inst::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    top: 12px;
    left: 13px;
    background: url(../img/sprite.png) -208px -10px no-repeat;
}

.footer-bottom .feed-back {
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 0;
}

.feed-back a {
	color: #ffd180;
}

.feed-back .email {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	margin-right: 52px;
}

.feed-back .url {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
}

.feed-back a:hover {
	text-decoration: underline;
}

.feed-back a:active {
	color: #c73644;
	text-decoration: none;
}


/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite--icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -47px -10px;
}

.sprite--icon-down-black {
    width: 11px;
    height: 10px;
    background-position: -81px -10px;
}

.sprite--icon-down-gray {
    width: 11px;
    height: 10px;
    background-position: -112px -10px;
}

.sprite--icon-facebook {
    width: 10px;
    height: 18px;
    background-position: -143px -10px;
}

.sprite--icon-home {
    width: 15px;
    height: 12px;
    background-position: -173px -10px;
}

.sprite--icon-instagramm {
    width: 17px;
    height: 17px;
    background-position: -208px -10px;
}

.sprite--icon-left {
    width: 22px;
    height: 40px;
    background-position: -245px -10px;
}

.sprite--icon-login {
    width: 20px;
    height: 17px;
    background-position: -287px -10px;
}

.sprite--icon-login-active {
    width: 20px;
    height: 17px;
    background-position: -327px -10px;
}

.sprite--icon-phone {
    width: 19px;
    height: 19px;
    background-position: -367px -10px;
}

.sprite--icon-right {
    width: 22px;
    height: 40px;
    background-position: -406px -10px;
}

.sprite--icon-search {
    width: 17px;
    height: 17px;
    background-position: -448px -10px;
}

.sprite--icon-search-red {
    width: 17px;
    height: 17px;
    background-position: -485px -10px;
}

.sprite--icon-up-black {
    width: 11px;
    height: 10px;
    background-position: -522px -10px;
}

.sprite--icon-up-gray {
    width: 11px;
    height: 10px;
    background-position: -553px -10px;
}

.sprite--icon-up-red {
    width: 11px;
    height: 10px;
    background-position: -584px -10px;
}

.sprite--icon-user {
    width: 20px;
    height: 18px;
    background-position: -615px -10px;
}

.sprite--icon-user-active {
    width: 20px;
    height: 18px;
    background-position: -655px -10px;
}

.sprite--icon-vk {
    width: 20px;
    height: 12px;
    background-position: -695px -10px;
}

.sprite-checkbox {
    width: 23px;
    height: 23px;
    background-position: -735px -10px;
}

.sprite-checkbox-checked {
    width: 27px;
    height: 23px;
    background-position: -778px -10px;
}

.sprite-checkbox-checked-hover {
    width: 27px;
    height: 23px;
    background-position: -825px -10px;
}

.sprite-checkbox-hover {
    width: 23px;
    height: 23px;
    background-position: -872px -10px;
}

.sprite-icon-down-red {
    width: 9px;
    height: 9px;
    background-position: -915px -10px;
}

.sprite-radio {
    width: 25px;
    height: 25px;
    background-position: -944px -10px;
}

.sprite-radio-checked {
    width: 25px;
    height: 25px;
    background-position: -989px -10px;
}

.sprite-radio-checked-hover {
    width: 25px;
    height: 25px;
    background-position: -1034px -10px;
}

.sprite-radio-hover {
    width: 25px;
    height: 25px;
    background-position: -1079px -10px;
}
*/